@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root {
    --primary-color: #4F46E5;
    --secondary-color: #6B7280;
    --white-color: #D1D5DB;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

/**Navigation**/
.navigation {
    background-color: var(--primary-color);
    color : white;
    padding: 0.50px;
    border-bottom-left-radius: 1rem;
}
.nav-brand {
    font-weight: bold;
    text-decoration: none;
    color : white;
    margin-left: 1rem;
    margin-top: 1rem;
}
.nav-inline {
    list-style: none;
    padding-inline-start: 0px;
    text-align: right;
}
.active-link {
    font-weight: bold;
}
.nav-list-item {
    display : inline;
    padding : 0rem 0.5rem;
    font-size: 20px;
}
.list-items {
    box-sizing: border-box;
    padding: 0rem 1rem;
    text-decoration: none;
    color : white;
}

/**header**/
.hero-header {
    padding : 3rem 0rem;
}
.hero-img {
    max-width: 80%;
    width : 500px;
    display : block;
    margin : auto;
}
.hero-heading {
    text-align: center;
    margin-bottom: 8px;
    color : #1F2937;
}
.hero-Text {
    margin-top: 5px;
    display : block;
    margin: auto;
    max-width: 80%;
    text-align: center;
}