@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #4F46E5;
    --secondary-color: #1F2937;
    --white-color: #D1D5DB;
    --container-color: #E5E7EB;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

/**Navigation**/
.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 0.1px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-bottom: 15px;
}
.navigation .nav-brand {
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-left: 1rem;
    margin-top: 1rem;
}

.nav-inline {
    list-style: none;
    padding-inline-start: 0px;
    text-align: right;
    margin: 10px;

}

.active-link {
    font-weight: bold;
}

.nav-list-item {
    display: inline;
    padding: 0rem 0.3rem;
    font-size: 20px;
}

.list-items {
    box-sizing: border-box;
    padding: 0rem 1rem;
    text-decoration: none;
    color: white;
    position: relative;
    bottom: 10px;
}

/**header**/
.hero-header {
    padding: 1.4rem 0rem;
}

.hero-img {
    max-width: 80%;
    width: 500px;
    display: block;
    margin: auto;
}

.hero-heading {
    text-align: center;
    margin-bottom: 8px;
    color: var(--secondary-color);
}

.hero-Text {
    margin-top: 5px;
    display: block;
    margin: auto;
    max-width: 80%;
    text-align: center;
}

/**Contact button***/
.button {
    text-align: center;
    margin-bottom: 20px;
}

.button-link {
    text-decoration: none;
    font-size: 25px;
    background-color: var(--primary-color);
    padding: 0.4rem 0.9rem;
    color: white;
    border-radius: 1rem;
}

/**skills section**/
.skills-section {
    align-items: center;
}

.skills-section h2 {
    align-items: center;
    text-align: center;
    font-size: 28px;
    margin-bottom: 1px;
    margin-top: 1px;
}

.skills-section .skills-text {
    text-align: center;
    font-size: 19px;
    margin-top: 1.5px;
    margin-bottom: 10px;
}

.skills-section .skills-icons {
    display: flex;
    flex-direction: row;
    place-content: center;
    font-size: 53px;
    gap: 5px;
}

.container {
    background-color: #E5E7EB;
    padding: 14px;
    border-radius: 1rem;
    padding-bottom: 8px;
}

/*project button*/
.button2 {
    text-align: center;
}

.button-link2 {
    text-decoration: none;
    font-size: 18px;
    border: 3px solid var(--primary-color);
    padding: 0.4rem 0.9rem;
    color: var(--primary-color);
    border-radius: 1rem;
}
/**===blog section====**/
.skills-section .blog-icons {
    display: flex;
    flex-direction: row;
    place-content: center;
    font-size: 30px;
    gap: 30px;
}

/**footer**/
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 3px;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    padding-bottom: 0;
}

.footer-text {
    font-size: 20px;
    margin-top: 1vh;
}

.footer-icons {
    padding: 1rem;
    padding-left: 30px;
    gap: 50px;
    padding-bottom: 10px;
}

.footer .icon-links {
    font-size: 30px;
    letter-spacing: 30px;
    content: absolute;
}
.copyright {
    font-size: 15px;
    position: relative;
    bottom: 10px;

}
/*===project.html===*/
.project-header {
    
}
.project-header .project-image {
    max-width: 80%;
    width: 250px;
    display: block;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0px;
}
.project-heading {
    text-align: center;
    margin: 0px;
    font-size: 30px;
}
/**project-List**/
.project-ul {
    margin: 0px;
    padding: 0px;
    padding: 12px;
}
.project-li {
    list-style: none;
    padding-inline-start: 0px;
    display: flex;
    flex-direction: row;
    place-content: center;
    font-size: 18px;
    margin: 0px;
}
h2.list-header {
    margin: 0;
}
.project-ul .h2 {
    margin: 0px;
}
.skills-text {
    margin: 8px;
    font-size: 1rem;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0px;
    margin-bottom: 15px;
}
.view-project {
    text-decoration: none;
    font-size: 20px;
    background-color: var(--primary-color);
    padding: 0.3rem 0.5rem;
    color: white;
    border-radius: 1rem;
    text-align: center;
    margin-right: 2px;
}
.view-code {
    text-decoration: none;
    font-size: 20px;
    border: 3px solid var(--primary-color);
    padding: 0.1rem 0.5rem;
    color: var(--primary-color);
    border-radius: 1rem;
}