@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root {
    --primary-color: #4F46E5;
    --secondary-color: #1F2937;
    --white-color: #D1D5DB;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

/**Navigation**/
.navigation {
    background-color: var(--primary-color);
    color : white;
    padding: 0.1px;
    border-bottom-left-radius: 1rem;
    margin-bottom: 1rem;
}
.nav-brand {
    font-weight: bold;
    text-decoration: none;
    color : white;
    margin-left: 1rem;
    margin-top: 1rem;
}
.nav-inline {
    list-style: none;
    padding-inline-start: 0px;
    text-align: right;
}
.active-link {
    font-weight: bold;
}
.nav-list-item {
    display : inline;
    padding : 0rem 0.4rem;
    font-size: 20px;
}
.list-items {
    box-sizing: border-box;
    padding: 0rem 1rem;
    text-decoration: none;
    color : white;
}

/**header**/
.hero-header {
    padding : 1.4rem 0rem;
}
.hero-img {
    max-width: 80%;
    width : 500px;
    display : block;
    margin : auto;
}
.hero-heading {
    text-align: center;
    margin-bottom: 8px;
    color : #1F2937;
}
.hero-Text {
    margin-top: 5px;
    display : block;
    margin: auto;
    max-width: 80%;
    text-align: center;
}

/**Contact button***/
.button {
    text-align: center;
    margin-bottom: 20px;
}
.button-link {
    text-decoration: none;
    font-size: 25px;
    background-color: var(--primary-color);
    padding: 0.4rem 0.9rem;
    color: white;
    border-radius: 1rem;
    align-self: 20px;
    justify-self: unset;
}

/*tech*/

.tech {
    text-align: center;
    font-size: 28px;
    line-height: 1.333;
    margin-top: 18px;
}